<div class="row">
	<div class="col-md-7">
	  Nome do projeto:<br>
	  <input type="text" id="nome" name="nome" class="form-control"><br>
	  Caminho de saida da geração.<br/> 
	  <strong>Caminho deve ser RELATIVO ao root do projeto, que é:<br/>"</strong><strong class="text-info">${root.projeto.rootDir}</strong><strong>":</strong><br>
	  <input type="text" id="saidaGeracao" name="saidaGeracao" class="form-control"><br>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-md-6">
		<h4>Templates desse projeto:</h4>
		<table class='table'>
			<tr>
				<th >Caminho/Nome</th>
				<th >Opções</th>
			</tr>
		{{#templates}}
			<tr>
				<td>{{.}}</td>
				<td ><a title="Editar esse template com o editor externo configurado no sistema operacional" class='btn btn-success' onclick='editaTemplateExterno("{{.}}", "${root.projeto.nome}");'><span class='glyphicon glyphicon-pencil'></span>  
				<span class='glyphicon glyphicon-share'></span></a>
				<a title="Excluir esse template" class='btn btn-danger' onclick='excluiTemplateProjeto("{{.}}");'><span class='glyphicon glyphicon-remove'></span></a></td>
			</tr>
		{{/templates}}
		</table>

		<table class="table">
			<tr id="espacoFormNovoTemplateProjeto" hidden="true">
				<td>Caminho/Nome:<input id="nomeNovoTemplateProjeto" type="text" class="form-control"></td>
				<td><br/><a title="Confirmar" class="btn btn-success" onclick="criaNovoTemplateProjeto();"><span class="glyphicon glyphicon-ok"></span></a>
					<a  title="Cancelar" class="btn btn-danger" onclick="fechaCriacaoTemplateProjeto();"><span class="glyphicon glyphicon-remove"></span></a></td>
			</tr>
		</table>
		<div id="botaoNovoTemplateProjeto">
			<a class="btn btn-info pull-right" onclick="novoTemplateProjeto();">Novo template</a>
		</div>
	</div>
	<div class="col-md-6">
		<h4>Snippets desse projeto:</h4>
		<table class='table'>
			<tr>
				<th >Caminho/Nome</th>
				<th >Opções</th>
			</tr>
		{{#snippets}}
			<tr>
				<td>{{.}}</td>
				<td ><a title="Editar esse snippet com o editor externo configurado no sistema operacional" class='btn btn-success' onclick='editaSnippetExterno("{{.}}", "${root.projeto.nome}");'><span class='glyphicon glyphicon-pencil'></span>  
				<span class='glyphicon glyphicon-share'></span></a>
				<a title="Excluir esse snippet" class='btn btn-danger' onclick='excluiSnippetProjeto("{{.}}");'><span class='glyphicon glyphicon-remove'></span></a></td>
			</tr>
		{{/snippets}}
		</table>

		<table class="table">
			<tr id="espacoFormNovoSnippetProjeto" hidden="true">
				<td>Caminho/Nome:<input id="nomeNovoSnippetProjeto" type="text" class="form-control"></td>
				<td><br/><a title="Confirmar" class="btn btn-success" onclick="criaNovoSnippetProjeto();"><span class="glyphicon glyphicon-ok"></span></a>
					<a  title="Cancelar" class="btn btn-danger" onclick="fechaCriacaoSnippetProjeto();"><span class="glyphicon glyphicon-remove"></span></a></td>
			</tr>
		</table>
		<div id="botaoNovoSnippetProjeto">
			<a class="btn btn-info pull-right" onclick="novoSnippetProjeto();">Novo snippet</a>
		</div>
	</div>
</div>