<h5>Selecione agora quais os templates que devem ser processados:</h5>
<br/>
<table class="table">
	<tr>
		<th>Processar</th>
		<th>Caminho/Nome do template</th>
	</tr>
<#list root.projeto.templates as template>
	<tr>
		<td class="col-md-1">
	    	<input name="processaTemplate" class="checkTemp" type="checkbox" value="${template}">
	    </td>
		<td>
			${template}
		</td>
	</tr>
</#list>
</table>
<div class="btn-group" role="group">
<a class="btn btn-default" title="Marcar tudo" onclick="
$('.checkTemp').prop('checked', true);"
><span class="glyphicon glyphicon-check"></span></a>
<a class="btn btn-default" title="Desmarcar tudo" onclick="
$('.checkTemp').prop('checked', false);"><span class="glyphicon glyphicon-unchecked"></span></a>
</div>
<br/>
<br/>
<a class="btn btn-danger" onclick="coletaTemplatesSelecionados();voltaFluxo();"><span class="glyphicon glyphicon-chevron-left"></span> Voltar</a>
<div class="pull-right">
<strong id="erroProccess0" class="text-danger" style="vertical-align:middle;"></strong>
<a class="btn btn-warning pull-right" onclick="if(coletaTemplatesSelecionados()) avancaFluxo();">Avançar <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<script type="text/javascript">

  var checkboxes = document.getElementsByName('processaTemplate');
  // loop over them all
  for (var i=0; i<checkboxes.length; i++) {
  		checkboxes[i].checked = deveProcessarTemplate(checkboxes[i].value);
  }
</script>