<span>Modelos:</span>
<div class="list-group">
	{{#.}}
		<div class="list-group-item">
		{{#ok}}
			<span class="glyphicon glyphicon-ok text-success"></span>
		{{/ok}}
		{{^ok}}
			<span class="glyphicon glyphicon-remove text-danger"></span>
		{{/ok}}
		<strong>{{nome}}</strong>
		<br/>
		<span>Templates:</span>
		<div class="list-group">
			{{#templates}}
				<div class="list-group-item">
					{{#ok}}
						<span class="glyphicon glyphicon-ok text-success"></span>
					{{/ok}}
					{{^ok}}
						<span class="glyphicon glyphicon-remove text-danger"></span>
					{{/ok}}
					<strong>{{nome}}</strong>
					<a title="Editar esse template com o editor externo configurado no sistema operacional" 
						class="btn btn-warning btn-xs pull-right" onclick="editaTemplateExterno('{{nome}}','${root.projeto.nome}');">
						<span class='glyphicon glyphicon-pencil'></span>  
						<span class='glyphicon glyphicon-share'></span>
					</a>
					{{^ok}}
					<br/>
					<span>Mensagens de erro:</span>
					<div class="list-group">
						{{#mensagens}}
							<div class="list-group-item text-danger">
								<strong>{{{.}}}</strong>
							</div>
						{{/mensagens}}
					</div>
					{{/ok}}
				</div>
			{{/templates}}
		</div>
		</div>
		
	{{/.}}
</div>