<h5>Para começar, selecione quais os modelos devem ser considerados na geração:</h5>
<br/>
<table class="table">
	<tr>
		<th>Processar</th>
		<th>Nome do modelo</th>
	</tr>
<#list root.projeto.models as model>
	<tr>
		<td class="col-md-1">
	    	<input name="processaModelo" type="checkbox" value="${model}" 
	    	checked>
	    </td>
		<td>
			${model}
		</td>
	</tr>
</#list>
</table>
<div class="pull-right">
<strong id="erroProccess0" class="text-danger" style="vertical-align:middle;"></strong>
<a class="btn btn-warning pull-right" onclick="coletaModelosSelecionados();">Avançar <span class="glyphicon glyphicon-chevron-right"></span></a>
<div>
<script type="text/javascript">

  var checkboxes = document.getElementsByName('processaModelo');
  // loop over them all
  for (var i=0; i<checkboxes.length; i++) {
  		checkboxes[i].checked = deveProcessarModelo(checkboxes[i].value);
  }
</script>