<h5>Para começar, selecione quais os modelos devem ser considerados na geração:</h5>
<br/>
<table class="table">
	<tr>
		<th>Processar</th>
		<th>Nome do modelo</th>
	</tr>
<#list root.projeto.models as model>
	<tr>
		<td class="col-md-1">
	    	<input name="processaModelo" type="checkbox" value="processa${model}" checked>
	    </td>
		<td>
			${model}
		</td>
	</tr>
</#list>
</table>
<a class="btn btn-warning pull-right" onclick="coletaModelosSelecionados();avancaFluxo();">Avançar <span class="glyphicon glyphicon-chevron-right"></span></a>