<h4 id="tituloProcessando">Aguarde enquanto o Codegen processa os templates...</h4>
<br/>
<div class="row">
<div class="col-md-2">
</div>
<div id="espacoResultadoProccess" class="col-md-8">
	<img src="/static/load.gif">
</div>
</div>
<br/><br/>
<a class="btn btn-danger" onclick="voltaFluxo();"><span class="glyphicon glyphicon-chevron-left"></span> Processar novamente</a>
<a class="btn btn-warning pull-right" href="/index.html">Terminar <span class="glyphicon glyphicon-chevron-right"></span></a>