<h4>Tudo pronto, pressione o botão abaixo para processar os templates...</h4>
<br/>
<div class="row">
<div class=col-md-3>
</div>
<div class=col-md-6><div class="form-check">
  <input class="form-check-input" type="checkbox" id="ignorarWinmerge" />
  <label class="form-check-label" for="ignorarWinmerge">
    Automaticamente sobrescrever os arquivos (não abre o WinMerge)
  </label>
</div>
<a class="btn btn-success center-block" onclick="comandaProcessar();">Processar!<span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
</div>
<br/><br/>
<a class="btn btn-danger" onclick="voltaFluxo();"><span class="glyphicon glyphicon-chevron-left"></span> Voltar</a>