<table class="table">
	<tr>
		<th>Nome da configuracao</th>
		<th>Valor</th>
		<th>Opções</th>
	</tr>
	{{#.}}
	<tr>
		<td>{{nome}}</td>
		<td>
		{{^temSubConfs}}
		<input id="valorConfig{{nome}}Campo" type="text" class="form-control" onfocusout="atualizaConfigCampo('{{nome}}');">
		{{/temSubConfs}}
		{{#temSubConfs}}
		<a id="btn-editaSubConfigsConfig-{{nome}}" class="btn btn-warning pull-right" onclick="editaSubconfigsDaConfig('{{nome}}');">Editar subconfigs <span class="glyphicon glyphicon-chevron-right"></span><span class="glyphicon glyphicon-chevron-right"></span></a>
		{{/temSubConfs}}
		</td>
		<td><a title="Remover configuracão" class='btn btn-danger' onclick='removeConfigCampo("{{nome}}");'><span class='glyphicon glyphicon-remove'></span></a></td>
	</tr>
	{{/.}}
</table>
    <!--h5>Nenhuma configuração, você pode importar as configurações de um dos campos já existentes clicando no botão azul
	(<span class='glyphicon glyphicon-share-alt'></span>)</h5-->
<br/>
<table class="table">
	<tr id="espacoFormNovaConfigCampo" hidden="true">
		<td>Nome:<input list="configsExistentes" id="nomeNovaConfigCampo" type="text" class="form-control">
		<datalist id="configsExistentes">
			<#list root.getTodasConfigsDefinidasNoProjeto(root.projeto.nome) as config>
				<option value="${config}">
			</#list>
		</datalist>
		
		</td>
		<td>Tipo:<select id="tipoNovaConfigCampo" type="text" class="form-control">
			<option value="simples">Simples</option>
			<option value="comSubConfig">Com SubConfigs</option>
			</select>
		</td>
		<td><br/><a title="Confirmar" class="btn btn-success" onclick="criaNovaConfigCampo();"><span class="glyphicon glyphicon-ok"></span></a>
			<a  title="Cancelar" class="btn btn-danger" onclick="fechaCriacaoConfigCampo();"><span class="glyphicon glyphicon-remove"></span></a></td>
	</tr>
</table>
<div id="botaoNovaConfigCampo">
	<a class="btn btn-info pull-right" onclick="novaConfigCampo();">Nova Configuração</a>
</div>