<table class="table">
<tr>
	<th class="col-md-6">Nome</th>
	<th>Descricao</th>
</tr>
<#list root.model.listaTodosCampos as campo>
<tr>


	<td>
	<div class="row">
		<div class="col-md-8">
			<strong class="text-info">${campo.tipoAsString}</strong> 
			<strong class="text-success" style="float:right;text-align:right;">${campo.nome} (
			<#if campo.temConfig("params")>
			<#list campo.getSubconfigsDaConfig("params") as param>
				<br/>
			</#list>
				<br/>
			</#if>
			)
			</strong>
		</div>
		<div class="col-md-4">
			<br/>
		<#list campo.getSubconfigsDaConfig("params") as param>
			<strong class="text-warning">${campo.getValorSubconfigDaConfig("params",param)}</strong>
			<strong class="text-info">${param}</strong>
			<#sep><strong>, </strong></#sep>
			<br/>
		</#list>
		</div>
	</div>
	</td>
	<td>${campo.getValorConfig("descricao")}</td>
</tr>
</#list>
</table>